name: Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - '.gitattributes'
      - 'LICENSE*'
  workflow_dispatch:

env:
  folder: site

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - name: Prepare file
        run: |
          # Copy JSON
          mkdir -p ${{ env.folder }}
          cp *.json ${{ env.folder }}

          # Prepare spr and marketplace
          for file in *.json; do
            network="${file%.*}"
            mkdir "${{ env.folder }}/${network}"

            # spr
            jq -r '.sprs[].records[]' "${file}" > "${{ env.folder }}/${network}/spr"

            # marketplace
            jq -r '.marketplace[].contractAddress' "${file}" > "${{ env.folder }}/${network}/marketplace"
          done

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.folder }}

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
